#!/bin/bash

eval "$(rbenv init -)"

cd $(dirname $0)

# your Mastodon server domain
export MASTODON_DOMAIN=example.com

# your Mastodon API token
export MASTODON_TOKEN=xxxx

# your images dir path
export IMAGE_DIR=/path/to/images

bundle exec ruby ./nakayosi.rb
